---
fog:
    address: "http://myfogserver.com/fog/"
    api_key: "MySecretAPIKey"
    user_key: "MySecretAPIUserKey"

vpn:
    server: "myvpn.ldap.server.org"
    authentication:
        pass: "password"
        user: "cn=root,o=opnfv,dc=iol,dc=unh,dc=edu"
    directory:
        root: "o=opnfv,dc=iol,dc=unh,dc=edu"
        user: "ou=People"
    user:
        objects:
            - top
            - inetOrgPerson

bot:
    address: "http://my-bot.com/endpoint"
    endpoints:
        notification: "/notification"
        failure: "/failure"

dashboard:
    address: "https://labs.lfnetworking.org"
    lab_name: "MY_LAB"
